:host {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
}
.result {
 color: deeppink;
}
.pink {
  color: deeppink;
}
.blue {
  color: #0074D9;
}
.green {
  color: #008800;
}
.red {
  color: #C21F39;
}
.orange {
  color: darkorange;
}
.yellow {
  color: yellow;
}
