<mat-toolbar color="primary">
  <a mat-button routerLink="main" class="main"><img class="docs-angular-logo" src="assets/hhangular-white-transparent.svg" > HHAngular</a>
  <a mat-button routerLink="doc">Documentation</a>
  <a mat-button routerLink="demo">Demo</a>
  <div class="flex-spacer"></div>
  <label class="version">{{version}}</label>
  <a class="travis" mat-button href="https://travis-ci.org/hhangular/pdfjs" target="_blank">
    <img src="https://api.travis-ci.org/hhangular/pdfjs.svg?branch=master">
  </a>
  <a class="github" mat-icon-button [href]="url" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
</mat-toolbar>
