<mat-toolbar color="primary">
  <a mat-button routerLink="main" class="main">
    <fa-icon [icon]="faAngular" size="lg"></fa-icon>
    &nbsp;HHANGULAR</a>
  <a mat-button routerLink="pdfjs">PDFJS</a>
  <a mat-button routerLink="store">STORE</a>
  <div class="flex-spacer"></div>
  <a class="badge" mat-button target="_blank" href="https://opensource.org/licenses/MIT">
    <img src="https://img.shields.io/github/license/hhangular/hhangular.svg"/>
  </a>
  <app-locale-selector></app-locale-selector>
  <a class="github" mat-icon-button href="https://github.com/hhangular/hhangular" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
</mat-toolbar>
