<mat-toolbar color="primary">
  <a mat-button routerLink="main" class="main"><img alt="A" class="docs-angular-logo" src="assets/hhangular-white-transparent.svg" > HHANGULAR</a>
  <a mat-button routerLink="pdfjs">PDFJS</a>
  <a mat-button routerLink="store">STORE</a>
  <div class="flex-spacer"></div>
  <a class="travis" mat-button href="https://travis-ci.org/hhangular/hhangular" target="_blank">
    <img alt="GitHub release" src="https://img.shields.io/github/release/hhangular/hhangular.svg?label=&style=for-the-badge">
  </a>
  <a class="github" mat-icon-button [href]="url" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
</mat-toolbar>
