:host {
  height: calc(100vh - 64px - 64px);
  overflow-y: auto;
}
a {
  text-decoration: none;
}
a:hover,
a:hover:active, a:hover.active {
  color: darkorange;
}
a:active, a.active {
  color: dodgerblue;
}
@media (max-width: 599px) {
  :host {
    height: calc(100vh - 56px - 56px);
  }
}
