<div fxLayout="row">
  <mat-toolbar color="primary">
    <mat-toolbar-row style="height: 128px">
      <div class="flex-spacer"></div>
      <img alt="H2" class="docs-hhangular-logo" src="assets/logoh2.svg">
      <div class="flex-spacer"></div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="flex-spacer"></div>
      <h1 class="mat-h1">@hhangular</h1>
      <div class="flex-spacer"></div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="flex-spacer"></div>
      <h2>Addtional modules for angular 8X</h2>
      <div class="flex-spacer"></div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="flex-spacer"></div>
      <a mat-raised-button routerLink="/pdfjs">PDFJS</a>
      <div class="flex-h20"></div>
      <a mat-raised-button routerLink="/store">STORE</a>
      <div class="flex-spacer"></div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="padding-left: 40px">
  <div markdown i18n-src="@@HOMEPAGE" src="assets/markdowns/homepage.fr-fr.md"></div>
</div>
<mat-toolbar color="primary" class="bottom">
  <a mat-button href="https://hhangular.herokuapp.com/" rel="noopener noreferrer" target="_blank">
    <img alt="x.x.x" style="vertical-align: middle;" src="https://img.shields.io/github/release/hhangular/hhangular.svg?color=blueviolet&label=&logo=heroku">
  </a>
  <a mat-button href="https://hub.docker.com/r/h2dev/hhangular" rel="noopener noreferrer" target="_blank">
    <img alt="x.x.x" style="vertical-align: middle;" src="https://img.shields.io/github/release/hhangular/hhangular.svg?color=green&label=&logo=docker">
  </a>
  <div>Made by <a href="https://github.com/hhfrancois" rel="noopener noreferrer" target="_blank">hhfrancois</a></div>
  <div class="flex-spacer"></div>
  <span class="wide_screen">Powered by</span>
  <a mat-icon-button href="https://www.jetbrains.com/idea/?hhangular.hhdev.fr" rel="noopener noreferrer" target="_blank">
    <img alt="idea" class="idea-logo" src="assets/idea.svg">
  </a>
  <a mat-icon-button href="https://fontawesome.com" rel="noopener noreferrer" target="_blank">
    <fa-icon [icon]="faFontAwesome" size="lg"></fa-icon>
  </a>
  <a mat-icon-button href="https://angular.io" rel="noopener noreferrer" target="_blank">
    <img alt="ng" class="angular-logo" src="assets/angular.svg">
  </a>
</mat-toolbar>
