<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="flex-spacer"></div>
    <h1 class="mat-h1">@hhangular/pdfjs</h1>
    <div class="flex-spacer"></div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="flex-spacer"></div>
    <h2>Mozilla pdfjs for angular X</h2>
    <div class="flex-spacer"></div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="flex-spacer"></div>
    <a mat-raised-button routerLink="/doc/install">Get start</a>
    <div class="flex-spacer"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-left: 40px">
  <ngx-md [path]="'assets/markdowns/homepage.md'"></ngx-md>
</div>
