<button class="small_screen" mat-icon-button [matMenuTriggerFor]="locale_menu">
  <fa-icon [icon]="faGlobe"></fa-icon>
</button>
<button class="wide_screen" mat-button [matMenuTriggerFor]="locale_menu">
  {{baseHref | localeToLanguage | uppercase}}
  <fa-icon [icon]="faGlobe"></fa-icon>
</button>
<mat-menu #locale_menu>
  <button mat-menu-item
          *ngFor="let locale of locales" (click)="switchLocaleTo(locale)">
    <fa-icon [icon]="getIcon(locale.path)" size="lg"></fa-icon>&nbsp;
    {{locale.label}}
  </button>
</mat-menu>
