:host {
  overflow-y: auto;
  display: block;
  padding-left: 40px;
  padding-right: 20px;
}

.flex-spacer {
  flex-grow: 1;
}

table {
  width: 100%;
}

table.mat-table {
  border-spacing: 0;
}

.mat-table {
  background: #fff;
}

.mat-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table tbody, .mat-table tfoot, .mat-table thead, .mat-table-sticky, [mat-footer-row], [mat-header-row], [mat-row], mat-footer-row, mat-header-row, mat-row {
  background: inherit;
}

tr.mat-header-row {
  height: 56px;
  background: #f5f5f5;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell {
  color: rgba(0, 0, 0, .54);
}

th.mat-header-cell {
  font-size: 12px;
  font-weight: 500;
}

tr.mat-footer-row, tr.mat-row {
  height: 48px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 24px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, .12);
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, .12);
}

.mat-cell, .mat-footer-cell {
  color: rgba(0, 0, 0, .87);
}

.mat-cell, .mat-footer-cell {
  font-size: 14px;
}
