/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '~prismjs/themes/prism-okaidia.css';
@import '~prismjs/plugins/line-highlight/prism-line-highlight.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';


body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

.flex-spacer {
  flex-grow: 1;
}

.flex-h20 {
  width: 20px;
}

@media (max-width: 599px) {
  .badge {
    display: none;
  }
}

.code-container {
  background: #f5f2f0;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  color: #999;
  text-shadow: 0 1px #fff;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size: 1em;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  hyphens: none;
}

.code-method, .code-class {
  color: #dd4a68;
}
.code-node-name {
  color: #905;
}
.code-field, .code-type {
  color: #111;
}
.code-comment {
  color: #666;
}
.code-attribute-name, .code-string, .code-value {
  color: #690;
}
.code-attribute-value, .code-keyword {
  color: #07a;
}
div[markdown] code:not([class]) {
  font-size: 1.1em;
  background-color: #ccc;
  font-weight: bold;
  padding: 0px 5px;
}

div[markdown] blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
div[markdown] > blockquote > p {
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  border-left: #0074D9 solid 10px;
  background-color: #eee;
}

div[markdown] > blockquote > blockquote > p  {
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  border-left: #d97107 solid 10px;
  background-color: #eee;
}

div[markdown] > blockquote > blockquote > blockquote > p  {
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  border-left: #C21F39 solid 10px;
  background-color: #eee;
}

